.room {
   margin: 40px 60px;
   height: auto;
   background-color: rgba(219, 219, 219, 0.109);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.room-details {
  padding: 40px;
}

.room-details h1 {
  color: rgb(0, 171, 194);
}

.room-full-details {
  display: grid;
  padding: 7px 20px;
  margin: 20px 0;
  background-color: rgba(241, 241, 241, 0.807);
  color: #929292;
  border-radius: 2px;
  gap: 3px;
  grid-template-columns: 1fr 1fr 0.7fr 0.4fr;
  border: 1px solid rgba(206, 206, 206, 0.724);
}

.room-full-details p {
  padding: 7px;
  border: 1px solid rgba(206, 206, 206, 0.724);
}

.other-details {
  margin-left: 45px;
  display: grid;
  gap: 7px;
  grid-template-columns: 0.3fr 0.7fr;
}

.other-details h3 {
  margin-bottom: 12px;
}

.other-details ul {
  padding: 40px;
  border: 1px solid rgb(181, 181, 181);
}

.other-details ul li {
  list-style: decimal;
  padding-top: 4px;
}

.room-description {
  padding: 40px;
  border: 1px solid rgb(181, 181, 181);
  margin-left: 5px;
  height: 120px;
}